#claculator , .card-header {
  text-align: center;
}
.para {
  display: none;
}
.nav-link {
  user-select: none;
}
form button {
  margin-top: 20px;
  margin-bottom: 20px;
}
.card-group {
  margin-bottom: 75px;
}
